.titulo{
    text-align: center;
    padding-top: 80px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 80px;
    
    
}
